<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
  {% if type == 'poli' %}
    <h1>Politics Information</h1>
    <div class="id">
        <div>
        <img src="{%static 'images/poli1.avif'%}">
            <h2>USA</h2>
            <button id="btn">EARTH</button>
        </div>

        <div>
        <img src="{%static 'images/poli2.jpg'%}">
            <h2>WORLD</h2>
            <button id="btn">WORLD</button>
        </div>

        <div>
        <img src="{%static 'images/poli3.jpg_large'%}">
                <h2>Pawan Kalyan</h2>
            <button id="btn">IND</button>
        </div>

    </div>
    {% elif type == 'new' %}
        <h1>Sports Information</h1>
    <div class="id">
        <div>
        <img src="{%static 'images/spo1.webp'%}">
            <h2>Cricket</h2>
            <button id="btn">WORLD</button>
        </div>

        <div>
        <img src="{%static 'images/spo2.jpg'%}">
            <h2>Indian Cricket Team</h2>
            <button id="btn">INDIA</button>
        </div>

        <div>
        <img src="{%static 'images/spo3.jpg'%}">
                <h2>South Africa Cricket Team</h2>
            <button id="btn">SouthAfrica</button>
        </div>

    </div>
    {% elif type == 'movi' %}
        <h1>Movies Information</h1>
    <div class="id">
        <div>
        <img src="{% static 'images/movi1.jpg'%}">
            <h2>Game Changer</h2>
            <button id="btn">RAM CHARAN</button>
        </div>

        <div>
        <img src="{%static 'images/movi2.jpg'%}">
            <h2>OG</h2>
            <button id="btn">PAWAN</button>
        </div>

        <div>
        <img src="{%static 'images/movi3.jpeg'%}">
                <h2>Kalki</h2>
            <button id="btn">PRABHAS</button>
        </div>
    </div>
    {% endif %}
</body>
</html>