body{
    background:darkseagreen;
    text-center:blue;
}
h1{
    color:blue;
    text-align:center;
}
img{
    border:2px solid green;
    width:750px;
    border-radius:10px;
    margin:20px;
}
div{
    text-align:center;
}

